name: Build PyInstaller Bundle

on:
  push:
    branches:
      - main

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: |
            requirements.txt

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Build with PyInstaller
        run: pyinstaller --onedir --noconsole --icon=icon.ico --hidden-import numpy chromatic_gen.py

      - name: Upload distribution artifact
        uses: actions/upload-artifact@v4
        with:
          name: chromatic_gen-dist
          path: dist
